.Panel{
  background-color: chocolate;
  padding: 20px 0;
}

.Panel .PanelHeader{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.Panel .List{
  list-style: none;
  padding: 0px 50px;
}

.BuySingle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 5px 8px;
  margin: 10px 0;
  border-radius: 5px;
}

.BuySingle>div{
  display: flex;
  gap: 10px;
}

.BuySingle>div>span{
  padding: 6px 10px;
  border-radius: 4px;
  background-color: darksalmon;
}