.container{
    height: 30vh;
    width: 60vw;
    background-color: rgb(255, 101, 45);
    border-radius: 20px;
    margin: 20px ;
}

.cart{
    padding: 6px 20px;
}

.cart>p{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0 16px;
}

.items{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
}


.items::-webkit-scrollbar {
    height: 10px;
    
}
  
.items::-webkit-scrollbar-track {
    background: #ff9a75;        /* color of the tracking area */
    border-radius: 10px;
    margin: 0 4px;
    opacity: 0.6;
}
  
.items::-webkit-scrollbar-thumb {
    background-color: brown;    /* color of the scroll thumb */
    border-radius: 10px;
}

.itemSingle{
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    margin: 0 8px;
    text-align: center;
}

.itemSingle img{
    border-radius: 10px;
}

.itemSingle p{
    margin: 4px auto 8px;
    font-weight: bold;
    font-size: 20px;
}

.itemSingle span{
    text-decoration: underline;
}