.container{
    height: auto;
    width: 60vw;
    background-color: rgb(255, 101, 45);
    border-radius: 20px;
    margin: 20px auto;
}

.cart{
    padding: 6px 20px;
}

.cart .Header{
	margin: 10px 0 16px;
	display: flex;
	justify-content: space-between;
}

.cart .Header p{
	margin-bottom: 8px;
	font-size: 22px;
	font-weight: 600;
}

.cart .Header button{
	background-color: #ff9a75;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	padding: 4px 6px;
}

.items{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
}


.items::-webkit-scrollbar {
    height: 10px;
    
}
  
.items::-webkit-scrollbar-track {
    background: #ff9a75;        /* color of the tracking area */
    border-radius: 10px;
    margin: 0 4px;
    opacity: 0.6;
}
  
.items::-webkit-scrollbar-thumb {
    background-color: brown;    /* color of the scroll thumb */
    border-radius: 10px;
}

.itemSingle{
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    margin: 0 8px;
    text-align: center;
		width: 18%;
}

.itemHeader{
	display: flex;
	justify-content: flex-end;

}

.itemSingle .itemDelete{
	background: crimson;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	padding: 2px 2px;
	width: 18px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}

.itemSingle img{
    border-radius: 10px;
}

.itemSingle .itemName{
    margin: 4px auto 8px;
    font-weight: bold;
    font-size: 18px;
}

.itemSingle .itemPrice{
    text-decoration: underline;
		display: inline-block;
}

.itemQuantCont{
	margin-top: 3px;
}

.itemSingle .itemQuant{
		display: inline;
}

.itemQuantCont button{
	background: none;
	border: none;
	border-radius: 50%;
}

.itemQuantCont button:hover{
	background-color: rgba(0, 0, 0, 0.1);
}