.productWrapper{
    background-color: bisque;
    width: 15vw;
    min-width: 150px;
    height: fit-content;
    padding: 20px 10px;

    text-align: center;
    border-radius: 10px;
}

.productWrapper img{
    border-radius: 5px;
}

.productCategories{
    margin-top: 5px;
}

.productCategories span{
    margin: 4px 3px;
    background-color: coral;
    padding: 2px 5px;
    border-radius: 5px;
    display: block;
}

.productWrapper p{
    font-weight: bold;
    margin: 5px 0;
}

.productWrapper>span{
    font-size: 40px;
    font-weight: bold;
}

.productWrapper button{
    cursor: pointer;
    background-color: firebrick;
    padding: 8px 10px;
    margin-top: 4px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
}

.productWrapper button:hover{
    background-color: crimson;
}