.Products{
  background-color: rgb(192, 141, 79);
  height: 100vh;
  padding: 0;
}

.ProductListHeader{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.ProductList{
  height: 100vh;
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}