.products{
    background-color: rgb(163, 95, 11);
    height: 100vh;
    width: 98vh;
    margin: 0 10%;
    padding: 20px 10px;
}

.productList{
    height: 100vh;
    margin: 0px auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.topBar form{
    background-color: antiquewhite;
    gap: 40px;
    display: flex;
    padding: 10px 40px;
    align-items: center;
}

.topBar form .selectCategory select{
    margin-left: 10px;
}

.topBar form input{
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: brown;
    color: white;
    font-weight: bold;
}