.AddProductButton{
  background: green;
  color: white;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.Modal{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
}

.ModalShow{
  display: block;
}

.ModalHide{
  display: none;
}

.ModalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.ModalPopUp{
  display: block;
  z-index: 10;
  background: rgb(255, 147, 75);
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  width: 20rem;
  text-align: center;
  position: fixed;
  top: 20%;
  left: 40%;
}

.ModalPopUp>form{
  display: block !important;
}

.ModalCloseButton{
  background: crimson;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.FormCardField{
  display: block;
  margin: 5px auto;
  padding: 10px;
  border-radius: 4px;
}

.QuantField{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.QuantField>div{
  width: 150px;
}

.QuantField>select{
  padding: 4px;
  border-radius: 10px;
  margin: 2px 0;
}

.EditButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: green !important;
}