.topBar{
  background-color: antiquewhite;
  gap: 40px;
  display: flex;
  padding: 10px 40px;
  align-items: center;
}

.topBar .searchFields{
  display: flex;
  gap: 40px;
  align-items: center;
}

.topBar>div>.selectCategory>select{
  margin-left: 10px;
}

.topBar>div>input{
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: brown;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.AdminControl{
  display: flex;
}

.AdminControl .products{
  width: 50%;
}

.AdminControl .CategoriesPanel{
  width: 50%;
}

.CategoriesPanel{
  background-color: chocolate;
}

.CategoriesPanel .CategoriesPanelHeader{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.CategoriesPanel .CategoriesList{
  list-style: none;
}

.CategorieSingle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 5px 8px;
  margin: 10px 0;
  border-radius: 5px;
}

.CategorieSingle>div{
  display: flex;
}

.selectCategory{
  display: flex;
}

.FormCardField{
  display: block;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.DeleteCategoryButton{
  display: block;
  margin: 5px 10px;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: crimson;
  border: none;
  color: white;
  font-weight: bold;
}