.BuysPanel, .ProductsPanel, .GainsPanel{
  background-color: chocolate;
  padding: 20px 40px;
  margin-bottom: 100px;
}

.BuysPanel .PanelHeader, 
.ProductsPanel .PanelHeader,
.GainsPanel .PanelHeader{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.List{
  list-style: none;
  max-height: 500px;
  padding-left: 20px;
}

.BuySingle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 5px 8px;
  margin: 10px 0;
  border-radius: 5px;
}

.BuySingle>div{
  display: flex;
  gap: 10px;
}

.BuySingle>div>span{
  padding: 6px 10px;
  border-radius: 4px;
  background-color: darksalmon;
}